<html>
  <head>
    <script src='/js/main.js'></script>
    <script src="<%= wss %>/socket.io/socket.io.js"></script>
    <script>
      window.wss = "<%= wss %>"
    </script>
  </head>
  <body>
    <h1>Real-time classroom collab</h1>

    <p>Today's practice is to: Write the intro to an article about "name-of-the-article".</p>

    <h2 id='local-student-id'>Student ID: </h2>
    <textarea name="" id="chatbox" cols="30" rows="10"></textarea>

    <div id='other-students-work' />
  </body>
</html>
